<nav>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="rota-ativa" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
            <a routerLink="/sobre" routerLinkActive="rota-ativa" [routerLinkActiveOptions]="{ exact: true }">Sobre</a>
        </li> 

        <li>
            <a routerLink="/info/{{ params }}" routerLinkActive="rota-ativa" [routerLinkActiveOptions]="{ exact: true }">Info</a>
        </li> 

        <li>
            <a routerLink="/dashboard" routerLinkActive="rota-ativa" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        </li> 

    </ul>
</nav>